In [2]:
import pandas as pd 

# Load the dataset 
data =pd.read_csv('demand.csv')
data.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,18/12/16,8054,216341,51.8441,51.84,0,0,0
1,2,25/05/04,8124,217958,13.1031,12.79,0,0,7
2,3,22/03/06,8011,216085,74.2495,71.82,0,0,2
3,4,19/01/13,8082,217610,110.6291,105.60,0,0,0
4,5,18/05/13,8031,216778,52.2367,47.59,0,0,1